body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    color: #fff;
    margin: 0;
    padding: 20px;
}

h1, h2 { color: #ffcc00; text-align: center; }

nav {
    text-align: center;
    background: #000;
    padding: 15px;
    margin-bottom: 20px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;        /* barre solide */
    padding: 15px 0;
    z-index: 1000;           /* passe devant l’image */
}

nav a {
    color: #ffcc00;
    margin: 0 20px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover { color: white; }

table { width: 80%; margin: 0 auto; border-collapse: collapse; background: rgba(0,0,0,0.5); }
th, td { border: 1px solid #ffcc00; padding: 12px; text-align: left; }
th { background: #ffcc00; color: black; }

img { max-width: 100%; height: auto; border-radius: 15px; margin: 15px 0; display: block; margin: 0 auto; }

button {
    background: #ffcc00;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    margin: 10px;
}

button:hover { background: white; }


form { max-width: 800px; margin: 0 auto; background: rgba(0,0,0,0.6); padding: 30px; border-radius: 15px; }
body {
    background-image: url("WhatsApp Image 2025-12-12 at 04.40.37.jpeg");
    background-size: contain;       /* moins zoomé */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;   /* effet plus propre */

    /* Effet anime (sombre + couleurs + léger flou) */
    filter: brightness(10%) contrast(30%) saturate(70%) blur(70%);
}
body {
    padding-top: 70px;  /* évite que le texte colle à la barre */
}
body {
    font-family: "Poppins", sans-serif;
    color: white;
    text-shadow: 0 0 5px black; /* lisibilité ++ sur image */
}

.page3 {
    background: url("WhatsApp Image 2025-12-12 at 19.29.56.jpeg") no-repeat center center fixed;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    filter: brightness(10%) contrast(30%) saturate(70%) blur(70%);


    color: black; /* texte en noir */
    

}

